body {
    background-color: rgb(78, 7, 78);
    color: white;
}


#timerDisplay, .score {
color: white;
font-size: 3rem;
}

#Timer {
    color: white;
    text-align: right;
    margin-right: 30px;
}

#question {
    display: flex;
    font-size: 3rem;
    margin-bottom: 4rem;
    justify-content: center;
}


.choice-container {
    display: flex;
    margin-bottom: 2rem;
    width: 50%;
    border-radius: 20px;
    background:  rgb(18, 93, 255);
    font-size: 1.5rem;
    margin-left: 28rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: white;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}


/* Heads up Display */
#hud {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px){
    .choice-container {
        min-width: 40rem;
    }
}