* {
    background-color: rgb(78, 7, 78);
}


#TimerDisplay {
color: white;
font-size: 50px;
}

#Timer {
    color: white;
    text-align: right;
    margin-right: 30px;
}

.hud-prefix {
    display:inline;
    color: white;
    text-align:left
}

